{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="mb-3">
        <label>Klasyfikacja do grup wraz z częściami mowy do nich należącymi*:</label>
        <ul>
            <li>
                <b>rzeczownik</b>
                <ul>
                    <li>
                        zaimek (wskazujący, nieokreślony, przysłowny, liczebny)
                    </li>
                    <li>
                        czasownik (bardzo rzadko występujący)
                    </li>
                </ul>
            </li>
            <li>
                <b>przymiotnik</b>
                <ul>
                    <li>
                        przysłówek
                    </li>
                <ul>
            </li>
        </ul>
    </div>
    <h6>
        * - główne grupy części mowy, najczęściej występujące
    </h6>
    <hr>
    <div class="mb-3">
        <label>Sufiksy słów, po których rozróżniane są zdrobnienia (pominęta odmiana przez przypadki):</label>
        <ul>
            <li>
                <b>rzeczowniki:</b>
                <ul>
                    <li>-ek</li>
                    <li>-eczek</li>
                    <li>-ka</li>
                    <li>-eczka</li>
                    <li>-ko</li>
                    <li>-eczko</li>
                    <li>-ik</li>
                    <li>-yk</li>
                    <li>-czyk</li>
                    <li>-iczek</li>
                    <li>-yczek</li>
                    <li>-ak</li>
                    <li>-aczek</li>
                    <li>-aczyk</li>
                    <li><s>-uk</s></li>
                    <li><s>-ec</s></li>
                    <li><s>-ica</s></li>
                    <li><s>-ic</s></li>
                    <li><s>-ch</s></li>
                    <li><s>-cha</s></li>
                    <li><s>-isz</s></li>
                    <li>-iszek</li>
                    <li><s>-yszek</s></li>
                    <li><s>-osz</s></li>
                    <li>-aszek</li>
                    <li><s>-oszek</s></li>
                    <li><s>-usz</s></li>
                    <li>-uszek</li>
                    <li><s>-uszczek</s></li>
                    <li>-ę</li>
                    <li>-ątko</li>
                    <li>-ąteczko</li>
                    <li><s>-ączko</s></li>
                    <li>-eńko</li>
                    <li><s>-etko</s></li>
                    <li>-ułka</li>
                    <li>-yczka</li>
                    <li><s>-iczko</s></li>
                    <li>-ina</li>
                    <li>-uchna</li>
                    <li>-uś</li>
                    <li>-usia</li>
                    <li>-o</li>
                    <li>-a</li>
                    <li>-iś</li>
                    <li>-yś</li>
                    <li><s>-ś</s></li>
                    <li><s>-sia</s></li>
                    <li><s>-osia</s></li>
                    <li><s>-ul</s></li>
                    <li><s>-ula</s></li>
                    <li><s>-ulo</s></li>
                    <li><s>-oś</s></li>
                    <li>-aś</li>
                    <li><s>-uń</s></li>
                    <li>-unia</li>
                    <li>-unio</li>
                    <li><s>-as</s></li>
                </ul>
            </li>
            <li>
                <b>przymiotniki:</b>
                <ul>
                    <li>-eńki</li>
                    <li>-enieńki</li>
                    <li>-uni</li>
                    <li>-usi</li>
                    <li>-utki</li>
                    <li>-uteczki</li>
                    <li>-utuchny</li>
                    <li>-uty</li>
                    <li>-utenieczki</li>
                    <li>-ućki</li>
                    <li>-uczki</li>
                    <li>-uśki</li>
                    <li>-ylki</li>
                    <li>-uchny</li>
                </ul>
            </li>
        </ul>
    </div>
    <hr>
</div>
<div class="container">

</div>

{% endblock %}
