{% extends 'layout.html' %}

{% block body %}
<form action="{{ url_for('result') }}" method="post">
    <textarea rows="10" cols="80" name="text">Maleńka dziewczynka dreptała do sklepiku drobiąc kroczki. Mamusia kazała
córeczce przynieść do domciu mleczko i chlebek. Słodkiemu maleństwu towarzyszył
koteczek wesolutko merdający ogonkiem. Dzionek był prześliczny, słoneczko
przygrzewało cieplutko, i nie zanosiło się na deszczyk.
Dzisiaj rano bezdomne psisko mnie ugryzło. Strasznie spuchł mi paluch.
Przez moją ranę w szkole śmiał się ze mnie jeden maluch.Akurat w ten dzień
jechaliśmy na klasową wycieczkę . W zoo najbardziej denerwowało mnie złe
wilczysko i niedźwiedzisko. Naszczęście ten okropny dzień się skończył.
Gdy wstałam powitało mnie słoneczko grzejące z całej siły.W myślach
powiedziałam do niego "siemaneczko ".Po powrocie ze szkoły przywitał
mnie mój słodki kotek. Podlałam mój zadbany kwiatek i zabrałam się za
odrabianie lekcji.Potem poszłam zpać . Śnił mi się ten cudowny dzionek.
</textarea></br>
    <input type="submit" value="Wyszukaj">
</form>
{% endblock %}
