{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h4>
        Formularz do zgłoszenia błędu w klasyfikacji zdrobnienia:
    </h4>
</div>

<div class="col-md-8 order-md-1">
    <form action="{{ url_for('report') }}" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="word">Słowo</label>
            <input type="text" class="form-control" id="word" name="word" placeholder="" value="" required>
        </div></br>

        <div class="mb-3">
            <label for="comment">Komentarz <span class="text-muted">(opcjonalny)</span></label>
            <textarea rows="5" cols="50" class="form-control" id="comment" name="comment"></textarea>
        </div>

        <hr class="mb-4">
        <button class="btn" type="submit">Wyślij</button>
    </form>
</div>
{% endblock %}
